---
import Wrapper from "../components/UI/Wrapper.astro";
import HtmlLayout from "../layouts/HtmlBaseLayout.astro";
---

<HtmlLayout title="404">
  <section class="py-10">
      <Wrapper>
        <h1 class="text-9xl font-black mb-5 text-center">404</h1>
        <span class="leading-6 text-center block">page not found</span>
      </Wrapper>
    </section>
</HtmlLayout>
