---
import { getCollection } from "astro:content";
import Wrapper from "../components/UI/Wrapper.astro";
import HtmlLayout from "../layouts/HtmlBaseLayout.astro";

// const blogs = await Astro.glob('../content/blogs/*.md');
const blogs = await getCollection('blogs');
---

<HtmlLayout title="Blogs">
	<section class="py-10">
		<Wrapper class="flex flex-wrap [&>:not(:nth-child(3n))]:mr-12px">
			{
				blogs.map((blog) => {
					const { slug, collection, data: { title, description, image } } = blog;
					// console.log(blog);
					
					return <article class="basis-[32.7%] mb-12px bg-gray-100 rounded-xl overflow-hidden">
						<a href={ `${collection}/${slug}` } title={ title } class="overflow-hidden block">
							<img width="413" height="273" class="hover:scale-110 transition-all origin-center	 " src={ image.url } alt={ image.alt }/>	
						</a>
						<div class=" py-4 px-6">
							<h2 class="font-bold text-xl">
								<a href={ slug } title={ title }>{ title }</a>
							</h2>
							{description && <p class="mt-2 leading-6">{ description }</p>}
						</div>
					</article>
				})
			}
		</Wrapper>
	</section>
</HtmlLayout>
