---
import HtmlLayout from "../layouts/HtmlBaseLayout.astro";

const blogs = await Astro.glob('../pages/blogs/*.md');
---

<HtmlLayout title="Blogs">
	{
		blogs.map((blog) => {
			// console.log(blog);
			
			return <article>
				<a href={ blog.url } title={ blog.frontmatter.title }>
					<img src={ blog.frontmatter.image.url } alt={ blog.frontmatter.image.alt }/>	
				</a>
				<h2>
					<a href={ blog.url } title={ blog.frontmatter.title }>{ blog.frontmatter.title }</a>
				</h2>
				<p>{ blog.frontmatter.description }</p>

			</article>
		})
	}
	<h1>Blogs</h1>
</HtmlLayout>
